

*{
    margin: 0%;
    padding: 0%;
    

}




.nav{
    display: flex;
    background-color:rgb(193,193,193);
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 900px;
    position: relative;
    left: 250px;
    justify-content: center;
    flex: content;
   
   


}
.nav-title{
    position: relative;
    right: 150px;
}

.nav-links{
    width: 150px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin-right: 50px;
    position: relative;
    left: 50px;

 
    
  
    
}
.search{
    border: solid ;
    color:black;
    height: 19px;
  width: 770px;
  position: relative;
  left: -80px;
  
}


.btn{
background-color: rgb(25, 40, 175);
  color: rgb(65, 41, 41) ;
    width: 70px;
    height: 25px;
    box-shadow: 3px 3px 2px 1px black;
    position: relative;
    left: 80px;
    
    border: solid;

    
    
}
 

.ninja1{
    color: black;
    background-color: white ;
    position: relative;
    left: 250px;
    top : 100px;
  
    
     bottom: 400px;
    right: 100px;
}
.boutoon{
    
    background-color: rgb(255,217,102);
    box-shadow:3px 3px 1px 0px  black;
    width: 70px;
    height: 25px;
    position: relative;
    top: 20px;
    
}
.ninja1{
   position: relative;
   left: 300px;
   background-color: white ;
   width: 400px;
   height: 120px;
 
   padding: 25px;
   border: solid;

 

}
.ninja2{
    position: relative;
    left: 150px;
    bottom: 60px;
 
   
    width: 200px;



}
.wahdou{
    text-decoration: underline ;
    color: blue;
}
.ray{
    position: relative;
    top: 120px;
    right: 178px;
   
   
   background-color: white ;
   width: 400px;
   height: 120px;
 
   padding: 25px;
   border: solid;

}
.pc{
    position: relative;
    left: 480px;
    top: -405px;
    
    background-color: white ;
    width: 170px;
    height: 100px;
  
    padding: 25px;
    border: solid;
 
}
.tv{
    position: relative;
    height: 30px;
    width: 180px;
    top: 15px;
    background-color:rgb(147,196,125) ;
    border: solid ;
    box-shadow: 4px 4px 2px 1px;
}
