span{
    color: aliceblue;
}
.blue{color: aqua ;}
h1{
    background-color: black;
}
h2{
    background-color: blueviolet;
    text-align: center;

}
h3{
    background-color: rgb(76, 240, 232);
    text-align: end;
    text-decoration: underline;

}
