<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter  </title>
</head>
<body>
    <h1 style="text-align: center">counter</h1>
    <h3 style="text-align: center"> {{i}}  </h3>
    <div style="display: flex ; align-items: center;justify-content: center; gap: 50px;" action="/" method="post">
        <button type="submit" > <a href="/increase">Click</a></button>
        <button><a href="/">reset</a></button>
    </div>
</body>
</html>