.x {
    background-color: rgb(234, 241, 241);
    color: rgb(76, 170, 170);
    border:1px solid;
    border-radius: 30px;
 
 
 }
 .y {
    background-color: rgb(171, 238, 238);
    color: rgb(8, 35, 35);
    border:1px solid;
    border-radius: 50px;
 
 
 }
 .z {
    background-color: rgb(185, 177, 232);
    color: rgb(70, 101, 129);
    box-shadow: 3px 3px rgb(247, 194, 194), -1em 0 .4em rgb(181, 232, 236);
 }