@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="text-center">
    <form method="post">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
        </div>

        <div class="mb-3">
            <label asp-for="Location"></label>
            <select asp-for="Location">
                <option value="San Jose"></option>
                <option value="Burbank"></option>
                <option value="Tulsa"></option>
                <option value="Tunis"></option>
                <option value="Dallas"></option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Language"></label>
            <select asp-for="Language">
                <option value="C#"></option>
                <option value="Python"></option>
                <option value="JavaScript"></option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Comment"></label>
            <textarea asp-for="Comment" class="form-control"></textarea>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

</div>
