.row{
    
    display: flex;
}
.col{

    background-color: rgb(40, 166, 166);
    margin: 2px;
    flex: 1;
}
.col-2{
    
    justify-content: space-between;
    flex-direction: row-reverse;

    
}