<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user view</title>
</head>
<body>
    <h1>User {{user.id}} </h1>
    <h5>Full Name : {{user.first_name}} {{user.last_name}} </h5>
    <h5>Email : {{user.email}}</h5>
    <h5>Created On : {{user.created_at}}</h5>
    <h5>Last Updated On :{{user.updated_at}}</h5>
    <div><a href="/users/{{user.id}}/edit">Edit</a> | <a href="/user/delete/{{user.id}}">Delete</a></div>
    
</body>
</html>