<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>
    <h1>Welcome To Display Page</h1>
    <h4>Name : {{session['name']}}</h4>
    <br>
    <h4>Age : {{session.age}}</h4>
    <br>
    <h4>Food : {{session.fav_food}}</h4>
    <br>
    <h4>Color : {{session.fav_color}} </h4>
    <br>
    <h4>Sport :  {{session.fav_sport}}</h4>
    <br>
    <a href="/">Go Back</a>
    <br>
    <a href="/clear">Clear session</a>
</body>
</html>
