<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>Shows Dashboard</title>
    <style>
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 50px 0;
        }
        h1 {
            font-size: 2rem;
            font-weight: bold;
        }
        .table {
                border-radius: 10px;
                box-shadow: 0 0 10px black;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>{{user.first_name}} {{user.last_name}}</h1>
                <div>
                    <a href="/shows/new" class="btn btn-primary">Create a Show!</a>
                    <a href="/user/logout" class="btn btn-danger ml-3">Logout</a>
                </div>
            </div>
            <h1 class="my-2 col-2 mx-auto p-3 text-bold text-center">
                <img width="150" height="100" srcdata:image src =https://cdn2.rcstatic.com/images/suppliers/flat/addcar_logo_400.jpg>
            </h1>
        <table class="table table-striped table-hover table-sm">
            <thead>
            <tr>
                <th>Name</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for show in shows %}
            <tr>
                <td>{{show.name}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date.strftime('%B %dth, %Y')}}</td>
                <td>
                <a href="/shows/{{show.id}}" class="btn btn-success">View Description</a>
                {% if session['user_id'] == show.creator.id %}
                <a href="/shows/edit/{{show.id}}" class="btn btn-secondary">Edit</a>
                <a href="/shows/delete/{{show.id}}" class="btn btn-danger">Delete</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
</body>
</html>
